.documents {
  background-color: var(--color-documents-background);
  height: 100%;
  width: 100vw;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.nav-documents {
  background-color: #fff;
  width: calc(100% - 4rem);
  height: 60px;
  padding: 0.5rem 2rem;
  border-bottom: 1px solid #e5e5e5;
}

.logo-documents {
  width: 150px;
  height: auto;
  display: block;
}

.documents-container {
  padding: 2rem 1rem;
  height: calc(100% - 2rem);
  position: relative;
  flex: 1;
}
