.login {
  height: 100%;
  width: 100vw;
  flex: 1;
  padding: 0;
  background: #fff;
  background-image: url("../../../public/img/background.jpg");
  background-size: cover;
  background-position: right;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

@media (min-width: 768px) {
  .login {
    width: calc(100vw - 300px);
    padding: 0 150px;
  }
}

@media (min-width: 992px) {
  .login {
    width: calc(100vw - 300px);
    padding: 0 150px;
  }
}
