.container-modal {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.wrapper-modal {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 900;
}

.modal {
  background-color: #fff;
  height: 100%;
  width: 1300px;
  max-width: 100%;
  z-index: 1000;
  padding: 1rem;
}

.header-modal {
  width: 1200px;
  max-width: 100%;
  border-bottom: 4px solid #000;
  margin-bottom: 20px;
  padding-bottom: 15px;
}

.close-modal {
  background-color: var(--color-documents-primary);
  color: #fff;
  border: none;
  padding: 0.7rem 0.7rem;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
}

.pdf-viewer {
  width: 1200px;
  max-width: 100%;
  height: 100%;
}

.canvas-container {
  width: 100%;
  height: 100%;
}
