.footer-container {
  position: relative;
  width: calc(100% - 4rem);
  padding: 1rem 2rem;
  background-color: #fff;
  color: var(--color-footer);
  border-top: 2px solid var(--color-footer-border);
  justify-content: center;
  align-content: space-between;
  height: 130px;
}

.logo-footer-link {
  z-index: 2;
}

.logo-footer {
  width: 130px;
  height: auto;
  display: block;
  opacity: 0.6;
}

.copyrigth-footer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  z-index: 1;
}

.list-links-footer {
  flex-direction: row !important;
  list-style: none;
  z-index: 2;
}

.link-footer {
  margin-right: 3rem;
}

.link-footer:last-child {
  margin-right: 0 !important;
}

.link-footer a {
  color: var(--color-footer);
  text-decoration: none;
}

@media (min-width: 768px) {
  .footer-container {
    height: 80px;
    align-content: flex-start;
    justify-content: space-between;
  }

  .copyrigth-footer {
    top: 60%;
  }
}

@media (min-width: 992px) {
  .footer-container {
    height: 60px;
    align-content: center;
    justify-content: space-between;
  }

  .copyrigth-footer {
    top: 50%;
  }

  .link-footer {
    margin-right: 5rem;
  }
}
