:root {
  --color-login: #717171;
  --color-login-submit-hover: #ebebeb;
  --color-login-btn-hover: #f8f8f8;
  --color-login-submit: #e6e6e6;
  --color-reset-password: #57a4a3;
  --color-reset-password-hover: #3b7170;
  --color-login-border: #e3e3e3;

  --color-footer: var(--color-login);
  --color-footer-border: var(--color-login-border);

  --color-documents: var(--color-login);
  --color-documents-background: #eee7f7;
  --color-documents-primary: #3f51b5;
  --color-documents-secondary: #bfbfbf;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
